/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #f0a8c0;
    border-radius: 8px;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2%;
}

.form-section, .table-section {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1, h2 {
    color: #030303;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    margin-bottom: 15px;
}

.form-group label {
    align-self: center;
}

.form-group input, .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#add-btn {
    padding: 10px 20px;
    background-color: #5e88b4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    grid-column: span 2;
}

button#add-btn:hover {
    background-color: #5e88b4;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

table th {
    background-color: #5e88b4;
    color: rgb(12, 12, 12);
}

.delete-btn {
    padding: 5px 10px;
    background-color: red;
    color: rgb(253, 250, 250);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: rgb(223, 12, 12);
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-group {
        grid-template-columns: 1fr;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }
}
